<h2><%= t "devise.edit_profile", param: resource_name.to_s.humanize %></h2>

<%= form_for resource, as: resource_name,
   url: registration_path(resource_name), html: { method: :put } do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, disabled: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t "devise.unconfirm_email",
      param: resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :phone_num %><br />
    <%= f.text_field :phone_num, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %> <i><%= t "devise.leave_blank_pass" %></i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= t "devise.min_character", param: @minimum_password_length %></em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %><i><%= t "devise.need_current_pass" %></i>
    <br />
    <p><i><%= t "devise.default_pass" %>
      <strong><%= t "devise.pass_default" %></strong>
    </i></p>
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <%= f.label :picture %>
  <%= f.file_field :picture %>

  <div class="actions">
    <%= f.submit t("button.update") %>
  </div>
<% end %>

<% if customer_signed_in? %>
  <h3><%= t "devise.cancel_acount" %></h3>

  <p><%= t "devise.unhappy" %>
    <%= button_to t("devise.cancel_button"), registration_path(resource_name),
      data: {confirm: t("devise.sure_you")}, method: :delete %></p>

  <%= link_to t("button.back"), :back %>
<% end %>
