<h2><%= t "devise.log_up" %></h2>

<%= form_tag login_path do %>
  <div class="field">
    <%= label_tag :email %></br>
    <%= email_field_tag :email %>
  </div>

  <div class="field">
    <%= label_tag :password %></br>
    <%= password_field_tag :password %>
  </div>

  <div class="field">
    <%= check_box_tag :log_admin %>
    <%= label_tag :staff_sign_in %>
  </div>

  <div class="field">
    <%= check_box_tag :remember_me %>
    <%= label_tag :remember_me %>
  </div>

  <div class="actions">
    <%= submit_tag "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links", resource_name: :customer %>
