<div class="container">
  <p><%= t ".show_name", param: @dish.name %></p>
  <p><%= @dish.price %></p>
  <p><%= @dish.available %></p>
  <span><%= t ".belong_to"%></span>
  <% if @dish.categories.any? %>
    <% @dish.categories.each do |category| %>
      <li><%= category.name %></li>
    <% end %>
  <% end %>
  <p><%= @dish.description %></p>
  </br>
  <%= link_to t("dishes.edit_path"), edit_dish_path(@dish) %>
  <%= link_to t("dishes.dishes_path"), dishes_path %>
</div>
