<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container down-header" id="flash">
      <% flash.each do |key, value| %>
        <% key = "warning" if key == "alert"%>
        <% key = "info" if key == "notice"%>
        <%= content_tag :div, value,
          class: "review-content alert alert-#{key}" %>
      <% end %>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
